.card {
    width: 50%;
    margin: auto;
}
.card-header {
    text-align: center;
    /* background-color: #4ea4dc; */
}

.btn-primary {
    background-color: #4ea4dc;
}

@media screen and (min-width: 768px) {
    .content-container {
        padding: 100px 10px 100px;
    }
}

@media screen and (max-width: 767px) {
    .content-container {
        padding: 100px 0px 100px;
    }
}
