#mapPage-Bottom {
    /* background: #aee8e2; */
    box-shadow: 0px 0px 5px 0px #00948544;
}

#googleMap {
    box-shadow: 0px 0px 10px 10px #14141425;
}

#mapSearch-Inside {
    background-color: rgba(116, 116, 116, 0.3);
}

#confirmBtn {
    width: 300px;
    height: 70px;
}

#cfmDiv {
    background-color: rgba(255, 138, 138, 0.5);
}

.selectSection {
    background-color: rgba(255, 255, 255, 0.712);
}
